// Global styles
.spinner {
  position: absolute;
  top: calc(50vh - 70px);
  left: 50%;
}

// Components
.Navbar {
  .chakra-switch__thumb {
    background-color: #fff;
    background: url("./assets/moon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.Number {
  .prime-number-input {
    height: auto;
    width: 500px !important;
    border: none;
    outline: none;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    flex: 1 0 50%;
    border-radius: 0;
    &:focus {
      outline: 0 !important;
      box-shadow: 0 3px 1px -1px #3182ce !important;
    }
  }
  .chakra-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 50px;
    width: 50px;
  }
}

.Language {
  .flag {
    border: 1px solid #f9f9f9;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
